<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	 <title>基于Redis的实时信息系统 - 2号 汽轮机</title>
	 <link rel="shortcut icon" href="/static/img/xb.ico">
 	 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
     <link href="/static/css/sailfishdb.css" rel="stylesheet">
   
     <script src="/static/js/jquery.min.js" type="text/javascript"></script>  
     <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>   
     <script src="/static/js/d3.js" type="text/javascript"></script>  
    
   	<script type="text/javascript">
     var vis = d3.select("body").append("svg")
    			 .attr("width", 1000)
    			 .attr("height", 667),

    scaleX = d3.scale.linear()
    .domain([-30,30])
    .range([0,600]),

    scaleY = d3.scale.linear()
    .domain([0,50])
    .range([500,0]),

    poly = [{"x":0.0, "y":25.0},
    {"x":8.5,"y":23.4},
    {"x":13.0,"y":21.0},
    {"x":19.0,"y":15.5}];

    vis.selectAll("polygon")
    .data([poly])
    .enter().append("polygon")
    .attr("points",function(d) { 
    return d.map(function(d) { return [scaleX(d.x),scaleY(d.y)].join(","); }).join(" ");})
    .attr("stroke","black")
    .attr("stroke-width",2);
   	
   	$(document).ready(function()
    {
      
    
    	function getRealtimeData_ajax() {
		  
    	  $.ajax(
    	  {
    		   url: '/realtime_u2_turbine/',
	           type: 'POST',
	           success: function(jsonResponse)
	           {
	                var objresponse = JSON.parse(jsonResponse);
	          
	          	    $("#responsefield_load").text(objresponse['load'].toFixed(2));
	             	$("#responsefield_qms").text(objresponse['qms'].toFixed(2));
			        $("#responsefield_phpin").text(objresponse['phpin'].toFixed(2));
				    $("#responsefield_thpin").text(objresponse['thpin'].toFixed(2));
                    $("#responsefield_phpout").text(objresponse['phpout'].toFixed(2));
                    $("#responsefield_thpout").text(objresponse['thpout'].toFixed(2));
	                $("#responsefield_hpe").text(objresponse['hpe'].toFixed(2));
	                       	           	  
	            },
	            error: function()
	            {
	               $("#responsefield").text("Error to load api");
	                  
	            }
	        }); 
	    }
       
		
		var updateInterval = 1000;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 100) {
					updateInterval = 100;
				} else if (updateInterval > 2000) {
					updateInterval = 2000;
				}
				$(this).val("" + updateInterval);
			}
		});
		
		function update() {
			
			getRealtimeData_ajax();
			setTimeout(update, updateInterval);
		}
		
 	 update();
 	});
</script>
</head>

<body id="bootstrap-js">
<div class="wrapper">
      <div class="navbar">
         <div class="navbar-inner">
            <div class="container" style="width: auto;">
               <h3 class="brand">基于Redis的实时信息系统 - 2号 汽轮机</h3>
               <div class="nav-collapse">
                  <ul class="nav pull-right">
                     <li class="active"><a href="/">返回首页</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <div class="container">
          <div id="responsefield">
		          <table class="table table-striped">
			          <thead>
			          <tr>
			            <th>项目</th>
			            <th>单位</th>
			            <th>数据</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>负荷</td>
			            <td>MW</td>
			            <td><span id="responsefield_load"></span></td>
			          </tr>
			           <tr style="color:blue">
			            <td>主蒸汽流量</td>
			            <td>t/h</td>
			            <td><span id="responsefield_qms"></span></td>
			           </tr>
			          <tr>
			            <td>高压缸进汽压力</td>
			            <td>MPa</td>
			            <td><span id="responsefield_phpin"></span></td>
			          </tr>
			           <tr style="color:blue">
			            <td>高压缸进汽温度</td>
			            <td>c</span></td>
			            <td><span id="responsefield_thpin"></span></td>
			          </tr>
			          <tr>
			            <td>高压缸排汽压力</td>
			            <td>MPa</span></td>
			            <td><span id="responsefield_phpout"></span></td>
			          </tr>
			           <tr style="color:blue">
			            <td>高压缸排汽温度</td>
			            <td>c</span></td>
			            <td><span id="responsefield_thpout"></span></td>
			          </tr>
			        </tbody>
		      </table>
	              
	       </div>
	  
	   </div>
 </div>
 <footer>
      <div class="container">
        <p class="muted credit pull-right"><a href="http://www.seu.edu.cn"> 东南大学 </a> 2014</p>
      </div>
</footer>
</body>
</html>
