<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	 <title>{{title}}</title>
	 <link rel="shortcut icon" href="/static/img/xb.ico">
     <link href="/static/css/sailfishdb.css" rel="stylesheet">
     <link href="/static/css/bootstrap.css" rel="stylesheet">
   
     <script src="/static/js/jquery.js" type="text/javascript"></script>  
     <script src="/static/js/bootstrap.js" type="text/javascript"></script>   
     <script src="/static/js/d3.js" type="text/javascript"></script>  

     <script type="text/javascript" src="/static/js/sis/processfig_rh_def.js"></script>    
   	 <script type="text/javascript">
    
    var taglist=new Array();
    var tabletaglist=new Array();
    var figtaglist=new Array();
    
    {% for item in tagname %}
          var obj=new Object();
		  obj.tagdesc="{{item['desc']}}";
          obj.tagunit="{{item['si']}}";
	   	  obj.value="{{item['value']}}";
	   	  
		  obj.x="{{item['x']}}";
 		  obj.y="{{item['y']}}";
 		  
 		  obj.fig="{{item['fig']}}";
 		  obj.tab="{{item['tab']}}";

		  taglist.push(obj);
		  
		  if (obj.tab==1.0) tabletaglist.push(obj);
		  if (obj.fig==1.0) figtaglist.push(obj);
	    
	{% end %}
    
    ws = new WebSocket("ws://" + window.location.host + "/pltwebsocket");
   </script>
 <script type="text/javascript" src="/static/js/sis/ws_table.js"></script>
</head>

<body id="bootstrap-js">
<div class="wrapper">
      <div class="navbar">
         <div class="navbar-inner">
            <div class="container" style="width: auto;">
               <h3 class="brand">{{title}}</h3>
                 <div class="nav-collapse">
                   <ul class="nav pull-right">
                     <li class="active"><a href="/">返回首页</a></li>
                    </ul>
                  </div>
            </div>
         </div>
      </div>

      <div class="row-fluid" id="responsefield">
          <div class="span9"><span id="svg_device"></span>
               <script type="text/javascript" src="/static/js/sis/processfig_rh_draw.js"></script>
		       <script type="text/javascript" src="/static/js/sis/processfig_figtag_draw.js"> 	</script>
		 </div>
		 <div class="span3" >
		     <span id="tag"></span>  
    	     <script type="text/javascript" src="/static/js/sis/taglist_label.js" ></script>
		 </div>			 
  	 </div>
 </div>	 

 <footer>
      <div class="container">
        <p class="muted credit pull-right"><a href="http://www.seu.edu.cn"> 东南大学  能源与环境学院 </a> 2018</p>
      </div>
</footer>
</body>
</html>

